* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#myBtn {
  background-color: rgb(198, 153, 176);
  border: none;
  height: 30px;
}
#parent {
  border: 2px solid slategray;
  width: 250px;
  text-align: center;
  background: linear-gradient(to right, rgb(255, 255, 255), pink);
}
